body {
  background-color: black;
  font-family: 'Amatic SC', cursive;
}

::-webkit-scrollbar {
    display: none;
}

.text-center.TheSwings{
  color:white;
  font-size: 200px;
  margin-top:0px;
}

.menu {
  font-size:30px;
  color: grey;
  margin-bottom: 15px;
}

.menu-link {
  margin-top: 10px;
}

.socialMedia{
  margin-top: 10px;
  font-size: 30px;
  padding-left:30px;
}
.socialMedia a{
  /*margin-bottom: 30px;*/
}
.page-content {
  margin-bottom: 5%;
}

.embed-container {
  position: relative;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  margin-top:0;
  width: 92.13%;
  height: 283.5px;
}

@media(min-width: 1200px) {
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
      width: 92.13%;
      height: 350.5px;
    }
}

@media(max-width: 768px) {
  .text-center.TheSwings {
    font-size: 160px;
  }
}
